body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.part label{
    color: #cc00ff;
    font-weight: bold;
    font-family: 'Lobester',cursive;
    font-size: 30px;
    display: inline-block;
    width: 250px;
    margin-left: 450px;
}
.btn{
  font-size: 22px;
  color: #3369FF;
  border-radius: 10px;
  width: 90px;
  font-family: 'Lobester',cursive;
  font-weight: bold;
}
