.forn{
    width: 100px;
    height: 43px;
}
.formB{
    width: 300px;
    height: 440px;
    top: 6%;
    left: 0.5%;
    position: absolute;
    background-color: rgba(0,0,0,0.5); 
    font-family: 'Lobester',cursive;
    border-radius: 10px;
}
.formB h1{
    color: #cc0033;
    font-size: 33px;
    alignment-adjust: central;
    font-weight: bold;
    font-family:monospace;
    background-color: #ffff66;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.formB label{
    color: #43FF33;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    width: 135px;
    display: inline-block;
}
.formB input{
    font-size: 18px;
    width: 70%;
    padding: 0px 0px;
    border: 5px;
    border-radius: 5px;
    color: #030003;
}
.butt{
  alignment-adjust: central;
  font-size: 25px;
  color: #3369FF;
  border-radius: 5px; 
  width: 325px;
  
}
.btnn1{
  font-size: 22px;
  border-radius: 20px;
  font-family: 'Lobester',cursive;
  font-weight: bold;
  margin-left: 85px;
  margin-top: 8px;
  height: 30px;
  display: flex;
}